<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Emogo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ShareExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>iMessageExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>335B1A0D1FBB238A006DA9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335B1A211FBB238A006DA9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335B1A2C1FBB238B006DA9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335B1A421FBB23FE006DA9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335B1A551FBB2413006DA9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
