commands:
    00_pip_upgrade:
        command: /opt/python/run/venv/bin/pip install --upgrade pip
        ignoreErrors: true
        leader_only: true

    WSGIPassAuthorization:
        command: sed -i.bak '/WSGIScriptAlias/ a WSGIPassAuthorization On' config.py
        cwd: /opt/elasticbeanstalk/hooks

container_commands:
%%    101_make_migrations:
%%        command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py makemigrations"
%%        cwd: /opt/python/ondeck/app/
%%        ignoreErrors: true
%%        leader_only: true
%%
%%    102_make_migrations:
%%        command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py makemigrations users company budget goal campaign program expense"
%%        cwd: /opt/python/ondeck/app/
%%        ignoreErrors: true
%%        leader_only: true
%%
%%    103_migrate:
%%        command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py migrate"
%%        cwd: /opt/python/ondeck/app/
%%        ignoreErrors: true
%%        leader_only: true
%%
%%    104_loaddata:
%%        command: "source /opt/python/run/venv/bin/activate && python /opt/python/ondeck/app/manage.py loaddata company_industry company_revenue company_segment_type company_size role"
%%        cwd: /opt/python/ondeck/app/
%%        ignoreErrors: true
%%        leader_only: true

