commands:
    00_pip_upgrade:
        command: /opt/python/run/venv/bin/pip install --upgrade pip
        ignoreErrors: true
        leader_only: true

    WSGIPassAuthorization:
        command: sed -i.bak '/WSGIScriptAlias/ a WSGIPassAuthorization On' config.py
        cwd: /opt/elasticbeanstalk/hooks
